@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .email-input {
    @apply w-full
    bg-transparent
    focus:outline-none
    px-5
    pr-20
    py-3
    rounded-full
    overflow-hidden
    ring-1 ring-desaturated-red
    focus:ring-soft-red;
  }

  .email-input.error {
    @apply ring-soft-red ring-2;
  }

  .email-error-msg {
    @apply absolute
    bottom-0
    left-0
    translate-y-8
    pl-5
    text-sm
    font-bold
    text-soft-red
    hidden;
  }

  .email-error-msg.error {
    @apply inline-block;
  }

  .email-error-icon {
    @apply hidden absolute top-1/2 -translate-y-1/2 right-20;
  }

  .email-error-icon.error {
    @apply sm:inline-block;
  }

  .send-email-btn {
    @apply absolute
    inset-y-0
    right-0
    w-[4.5rem]
    grid
    place-items-center
    rounded-full
    bg-gradient-to-br
    from-very-light-red
    to-soft-red;
  }

  .toast {
    @apply fixed top-5 inset-x-0 z-50 opacity-0 -translate-y-5 transition-all;
  }

  .toast.show {
    @apply opacity-100 translate-y-0;
  }
}

@layer utilities {
  .gradient-warm {
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  }

  .gradient-orange {
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 80%, 86%));
  }
}
